$accordion-bg: #262626;
$accordion-button-active-bg: tint-color($accordion-bg, 90%);
$accordion-button-active-color: #fff;
$accordion-button-color: #fff;
$accordion-color: #fff;

$accordion-button-focus-border-color:     transparent;
$accordion-button-focus-box-shadow:       transparent;
