$color-black: #101010;
$color-red: #FF2D2D;
$color-darkgrey: #2D2D2D;
$color-font: #ffffff;

$main-font: 'Roboto', sans-serif;
$font-heavy: 700;

* {
  box-sizing: border-box;
}

@import "overrides";

// scss-docs-start import-stack
// Configuration
@import "scss/bootstrap";


@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin main-button {
  text-transform: uppercase;
  color: $color-font;
  border: none;
  background-color: $color-red;
}

@mixin main-div {
  height: auto;
  width: 100vw;
  box-sizing: border-box;
  padding: 15vh 5vw 10vh 5vw;
  @include flex-column();
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $main-font;
  color: $color-font;
  background-color: $color-black;
}

h1 {
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: $color-font;
}

button {
  cursor: pointer;
}

/* Media Query XS Portrait*/
/* index page */
.index-menu {
  height: 100vh;
  width: 100vw;

  @include flex-column;

  .menu-page {   
    height: calc(100vw/3);
    width: 100vw;
    background: $color-black;
    border: 2px bold black;
  }

  a {
    @include flex-row;
    justify-content: center;
    align-items: flex-end; 
    height: 100%;
    width: 100%;
    text-transform: uppercase;
    color: $color-font;
    font-size: 1rem;
    font-weight: $font-heavy;
    text-shadow: 0px 4px 7px $color-black;
  }

  #menu-simulatoren {
    background-image: url(../images/img_01.jpeg);
    background-size: cover;
  }

  #menu-simracing {
    background-image: url(../images/img_02.jpeg);
    background-size: cover;
  }

  #menu-events {
    background-image: url(../images/img_03.jpeg);
    background-size: cover;
  }

  #menu-rcc {
    background-image: url(../images/img_04.jpeg);
    background-size: cover;
  }
}

/* topspeedcenter */
/* nav */
#mobile-nav {
  width: 100vw;
  box-sizing: border-box;
  position: fixed;
  @include flex-row();
  justify-content: space-between;
  align-items: center;
  padding: .75rem;
  z-index: 900;
  background: $color-black;

  .toggle > a > i {
    font-size: 1.5rem;
    color: $color-font;
  }

  img {
    height: 5vh;
    z-index: 1000;
  }

}

#desktop-nav {
  width: 100vw;
  box-sizing: border-box;
  position: fixed;
  @include flex-row();
  display: none;
  justify-content: flex-end;
  align-items: center;
  gap: 5rem;
  letter-spacing: .5rem;
  padding: 1.5rem;
  z-index: 900;
  background: $color-black;
    
  a {
    color: $color-font;
    font-size: 1.75rem;
    text-transform: uppercase;
  }

  a:hover {
    color: $color-red;
    transition: 0.3s;
  }

  /* .active {
    border-bottom: $color-red solid 2px;
  } */

  img {
    width: calc(100vw/7);
  }
}

.active {
  margin-left: 0;
}

#side-menu {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  padding: .5rem;
  margin-left: -75vw;
  height: 100vh;
  width: 70vw;
  overflow: hidden;
  background-color: $color-black;
  z-index: 1000;
  @include flex-column();

  .side-top {
    width: 95%;
    @include flex-row();
    justify-content: space-between;
  }

  .side-top > i, .side-social > i, a {
    font-size: 1.75rem;
    color: $color-font;
  }

  .side-social, .side-lang {
    @include flex-row();
    gap: 0.75rem;
  }
  
  .side-menu-links {
    margin-top: 3rem;
    @include flex-column();
    gap: .75rem;

    a {
      text-transform: uppercase;
    }

  }

  .side-lang {
    position: absolute;
    bottom: .5rem;

    a {
      font-size: 1rem;
    }
  }

}

/* home */
#main-home {
  @include main-div();
  height: 100vh;
  justify-content: space-between;

  .main-bg {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    opacity: .4;
    z-index: -5;
  }
  
  .header-text {
    width: 100vw;
    height: auto;
    box-sizing: border-box;

    h1 {
      font-size: 2rem;
      margin: 0;
      text-transform: none;
    }

    h2 {
      text-transform: uppercase;
    }

    p {
      font-size: 1.1rem;
      margin: 1rem 0 0 0;
    }
  }

  .main-bottom {
    margin-top: 3rem;
    box-sizing: border-box;
    @include flex-column();
    align-items: center;
    gap: 1.5rem;

    button {
      @include main-button();
      font-size: 1rem;
      padding: 1rem;
    }
  }
}

/* kontakt */
#main-contact {
  @include main-div();

  h1 {
    font-size: 2rem;
    margin: 0;
  }

  form {
    @include flex-column();
    width: 100%;
    gap: 1rem;

    input, textarea {
      color: $color-font;
      background-color: $color-darkgrey;
      padding: .5rem;
      border: 1px white solid;
    }

    textarea { 
      resize:vertical;
    }

    input:focus, textarea:focus {
      color: $color-font;
  }

    button {
      @include main-button();
      width: 30vw;
      font-size: .75rem;
      padding: .5rem;
    }
  }

  .contact-info {
    @include flex-column();
    margin-top: 2rem;

    .contact-icons {
      @include flex-row();
      align-content: flex-start;
      gap: .5rem;
    }

    .maps {
      display: none;
    }
  }
}

/* angebot */
#main-angebot {
  @include main-div();
  padding: 15vh 5vw 5vh 5vw;
  align-items: flex-start;

  h1 {
  font-size: 2rem;
  margin: 0;
  }

  .times {
    @include flex-column();
    padding-top: 2rem;

    .zeiten {
      display: grid; 
      grid-template-columns: repeat(3, .2fr); 
      grid-template-rows: repeat(4, auto); 
      grid-column-gap: 20px;
      grid-row-gap: 0px; 
      text-transform: uppercase;

      h2 {
        font-size: 1rem;
      }

      p {
        font-size: .6rem;
        margin:0
      }
    }

    .nebenzeiten {
      margin-top: 2rem;
      display: grid; 
      grid-template-columns: repeat(2, auto); 
      grid-template-rows: repeat(4, auto); 
      grid-column-gap: 20px;
      grid-row-gap: 0px; 
      text-transform: uppercase;

      h2 {
        font-size: 1rem;
      }

      p {
        font-size: .6rem;
        margin:0;
      }
    }
  }


  .tarife {
    margin-top: 2rem;
    margin-bottom: 2rem;

    ul {
      font-size: .7rem;

      li {
        width: 100%;

        button {
          width: 100%;
        }
      }
    }

    .tab-content {
      padding-top: 1rem;

      .tarife-grid { 
        width: 90vw;
        display: grid; 
        grid-template-columns: 1fr auto auto; 
        grid-template-rows: repeat(24, auto); 
        grid-column-gap: 5px;
        grid-row-gap: 5px; 

        p {
          font-size: .4rem;
        }

        h1, h2, h3, h4, h5, h6, p {
          align-self: center;
          margin: 0
        }

        .table-title {
          font-size: 1.2rem;
          font-weight: 1000;
          justify-self: start;
          grid-column: 1 / 4;
        }

        .tarife-mwst {
          font-size: .6rem;
          font-weight: 500;
          grid-column: 1 / 4;
        }

        .one {
          grid-row: 4 / 6;
          align-self: end;
        }

        .one-three {
          grid-row: 4 / 7;
        }

        .two {
          grid-row: 9 / 11;
          align-self: end;
        }

        .three {
          grid-row: 19 / 21;
          align-self: end;
        }

        .item-center {
          justify-self: center;
        }

        .license {
          grid-column: 2 / 4;
        }
      }

      .zusatzinfos-div {
        margin-top: 2rem;

        .zusatzinformationen { 
          font-size: .4rem;
          width: 90vw;
          display: grid; 
          grid-template-columns: .25fr 1fr; 
          grid-template-rows: repeat(7, .5fr); 
          grid-column-gap: 0px;
          grid-row-gap: 15px;
  
          p {
            margin: 0;
          }
  
          span {
            font-weight: 1000;
          }
        }
      }
    }
  }
}

/* buchen */
#main-buchen {
  @include main-div();

  h1 {
    font-size: 3rem;
    margin: 0;
  }
}

/* shop */
#main-shop {
  @include main-div();
  padding-left: 7.5vw;
  padding-right: 7.5vw;

  h1 {
    font-size: 2rem;
    margin: 0 0 2rem 0;
  }

  .sim-items {
    .simulatoren {
      @include flex-column();
    }
    
    .simulator {
      width: 85vw;
      margin-bottom: 5vh;

      h2 {
        text-transform: uppercase;
      }

      img {
        width: 100%;
        margin-bottom: 1rem;
      }

      button {
        @include main-button();
      }
    }
  }
}

#main-sim-item {
  .accordion-button{
    padding: .25rem;
  }

  @include main-div();
  padding: 10vh 5vw;

  .all-item {
    @include flex-column();
    justify-content: center;
    gap: 1.5rem;

    .sim-item {
      @include flex-column();

      .slideshow {
        @include flex-row();
        position: relative;

        .slides {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          list-style: none;
          overflow: hidden;

          .slide {
            position: relative;
            max-width: 100%;
          }
        }
      }

      .thumbnails {
        @include flex-row();
        justify-content: space-around;
        align-items: center;

        .thumbnail {
          cursor: pointer;
          width: 25%;
        }
      }

      .sim-text {
        margin-top: 1rem;
      }
    }

    form {
      margin-top: 1rem;
      margin-left: none;

      h2 {
        font-size: 1.3rem;
      }

      p {
        margin: .25rem;
      }
  
      input, textarea {
        font-size: 1rem;
        margin: .5rem;
        margin-left: 0;
      }

      button {
        width: auto;
        font-size: 1rem;
        padding: .75rem;
      }
    }
  }
}

/* impressum */
#main-impressum {
  @include main-div();

  h1 {
    font-size: 3rem;
    margin: 0;
  }
}

@media only screen and (min-width: 374px) and (orientation: portrait) {

  #main-angebot {

    .tarife {

      .tab-content {

        .tarife-grid {

          p {
            font-size: .6rem;
          }
        }

        .zusatzinfos-div {

          .zusatzinformationen {

            p {
              font-size: 0.6rem;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 413px) and (orientation: portrait)  {

  #main-angebot {

    .times {
      
      .zeiten {
      grid-template-columns: repeat(3, auto); 

        p {
          font-size: .8rem;
        }
      }

      .nebenzeiten {

        p {
          font-size: .8rem;
        }
      }
    }

    .tarife {

      .tab-content {

        .tarife-grid {

          p {
            font-size: .8rem;
          }
        }

        .zusatzinfos-div {

          .zusatzinformationen {

            p {
              font-size: .8rem;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 765px) and (orientation: portrait) {

  body {

    p {
      font-size: 1.5rem;
    }
  }
 
  #mobile-nav {

    .toggle > a > i {
      font-size: 3rem;
    }
  }

  #side-menu {

    padding: 1.5rem;

    .side-lang {
      position: absolute;
      left: 1.5rem;
      bottom: 1.5rem;

      a {
        font-size: 1.5rem;
      }
    }
  }

  #main-home {

    .header-text {
      padding: 10rem 2rem 0 2rem;

      h1 {
        font-size: 4rem;
      }

      h2 {
        font-size: 2.5rem;
      }

      p {
        font-size: 1.5rem;
      }
    }

    .main-bottom {
      padding: 1.5rem;
      
      button {
        font-size: 1.5rem;
      }

      p {
        font-size: 1.5rem;
      }
    }
  }

  #main-contact {

    form {

      button {

        font-size: 1rem;
      }
    }

    .contact-info {

      .contact-icons {

        a {

          i {
            font-size: 1.5rem;
          }
        }
      }
    }
  }

  #main-angebot {

    .times {
      flex-direction: row;

      .zeiten {

        h2 {
          font-size: 1.2rem;
        }

        p {
          font-size: .9rem;
        }
      }

      .nebenzeiten {
        margin-top: 0;
        margin-left: 2rem;
        grid-template-rows: repeat(4, .2fr); 

        h2 {
          font-size: 1.2rem;
        }

        p {
          font-size: .9rem;
        }
      }
    }

    .tarife {
  
      .tab-content {

        .tarife-grid {
          grid-template-columns: .5fr auto auto; 

          p {
            font-size: 1rem;
          }

          .tarife-mwst {
            font-size: 1rem;
          }
        }

        .zusatzinfos-div {
  
          .zusatzinformationen {
            grid-template-columns: .5fr auto;
          }
        }
      }

      ul {
        font-size: 1rem;
      }
  
    }
  }

  #main-impressum {
    padding: 12vh 5vw 0 5vw;
  }
}

@media only screen and (min-width: 799px) and (orientation: landscape) {
  
  #main-contact {
    .contact-info {
      .maps {
        display: block;
      }
    }
  }

  #main-shop {

    .sim-items {

      .simulatoren {
        flex-direction: row;
        gap: 2rem;
      }
    }
  }

  #main-sim-item {
    flex-direction: column;
    padding-top: 15vh;

    .all-item {
      flex-direction: row;
      justify-content: space-between;

      .sim-item {
        width: 45vw;
      }

      .item-all-right {
        width: 45vw
      }
    }
  }
}

@media only screen and (min-width: 1365px) and (orientation: landscape) {
  
  .index-menu {
    height: 100vh;
    width: 100vw;
    @include flex-row;

    a {
      font-size: 3rem;
    }

    .menu-page {   
      height: 100vh;
      width: calc(100vw/3);
    }
  }

  #mobile-nav {
    display: none;
  }

  #desktop-nav {
    display: flex;
    padding: 1.5rem 3rem;
    gap: 2rem;

    a {
      font-size: 1.3rem;
    }
  }

  #main-home {
    overflow: hidden;

    .header-text {
      position: relative;
      top: 10vh;
      left: 10vw;

      h1 {
        font-size: 5rem;
      }

      h2 {
        font-size: 3rem;
      }

      p {
        font-size: 2rem;
      }
    }

    .main-bottom {
      box-sizing: border-box;
      position: absolute;
      bottom: 5vh;
      left: 10vw;
      @include flex-row();
      flex-direction: row-reverse;
      justify-content: flex-end;
      align-items: center;

      p {
        width: 45vw;
        font-size: 1.2rem;
        margin: 0;
      }

      button {
        font-size: 1.2rem;
      }
    }
  }

  #main-contact {
    width: 100%;
    @include main-div();
    flex-direction: row;
    gap: 2vw;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 5vw;

    p {
      font-size: 1rem;
    }

    .contact-info {
      a {
        text-decoration: underline;
      }
    }

    .contact-form {
      @include flex-column();
      justify-content: center;
      align-items: flex-start;

      h1 {
        font-size: 4rem;
        margin: 0;
      }
    
      form {
        width: 40vw;
        gap: 1.5rem;
    
        input, textarea {
          font-size: 1.25rem;
        }
    
        button {
          width: 30%;
          font-size: 1.25rem;
          padding: .75rem;
        }
      }
    }
  
    .contact-icons {
      @include flex-row();
      gap: 1vh;
      margin: 1rem 0;

      a {
        color: $color-font;
      }
    }
  }

  #main-angebot {
    @include main-div();
    padding: 15vh 7vw 5vh 7vw;
    align-items: flex-start;
 
    h1 {
    font-size: 5rem;
    margin: 0;
    }

    .times {
      @include flex-row();
      padding-top: 2rem;

      .zeiten {
        display: grid; 
        grid-template-columns: repeat(3, auto); 
        grid-template-rows: repeat(4, .5fr); 
        grid-column-gap: 2rem;
        grid-row-gap: 0px; 
        text-transform: uppercase;

        h2 {
          font-size: 2rem;
        }
  
        p {
          font-size: 1.2rem;
          margin:0;
        }
      }
  
      .nebenzeiten {
        margin-top: 0;
        margin-left: 5rem;
        display: grid; 
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: repeat(4, .2fr); 
        grid-column-gap: 2rem;
        grid-row-gap: 0px; 
        text-transform: uppercase;

        h2 {
          font-size: 2rem;
        }
  
        p {
          font-size: 1.2rem;
          margin:0;
        }
      }
    }

    .tarife {
      margin-top: 2rem;
      margin-bottom: 2rem;

      #myTab {

        li {
          width: calc(100%/3);

          button {
            font-size: 1rem;
          }
        }
      }

      .tab-content {
        padding-top: 2rem;

        .tarife-grid { 
          width: 60vw;
          display: grid; 
          grid-template-columns: repeat(3, .75fr); 
          grid-template-rows: repeat(24, .5fr); 
          grid-column-gap: 20px;
          grid-row-gap: 0px; 

          h1, h2, h3, h4, h5, h6, p {
            align-self: center;
            margin: 0
          }

          .table-title {
            font-size: 2rem;
            font-weight: 1000;
            justify-self: start;
            grid-column: 1 / 4;
          }

          .tarife-mwst {
            font-size: 1.1rem;
            font-weight: 500;
            grid-column: 1 / 4;
          }

          .one {
            grid-row: 4 / 6;
            align-self: end;
          }

          .two {
            grid-row: 9 / 11;
            align-self: end;
          }

          .three {
            grid-row: 19 / 21;
            align-self: end;
          }

          .item-center {
            justify-self: center;
          }

          .license {
            grid-column: 2 / 4;
          }

          p {
            font-size: 1.2rem;
          }
        }

        .zusatzinformationen { 
          width: 50vw;
          display: grid; 
          grid-template-columns: .25fr 2fr; 
          grid-template-rows: repeat(7, 2fr); 
          grid-column-gap: 0px;
          grid-row-gap: 0px;

          p {
            font-size: 1rem;
            margin: 0;
          }

          span {
            font-weight: 1000;
          }
        }
      }
    }
  }

  #main-shop {

    .sim-items {
      
      .allg-text {
        width: 70%;
      }
    }
  }

}

@media only screen and (min-width: 1919px) and (orientation: landscape) {
  
  .index-menu {
    height: 100vh;
    width: 100vw;
    @include flex-row;

    a {
      font-size: 3rem;
    }

    .menu-page {   
      height: 100vh;
      width: calc(100vw/3);
    }
  }

  #mobile-nav {
    display: none;
  }

  #desktop-nav {
    display: flex;

    a {
      font-size: 1.5rem;
    }
  }

  #main-home {
    overflow: hidden;

    .header-text {
      top: 35vh;

      h1 {
        font-size: 6rem;
        line-height: 5rem;
        margin-bottom: 2rem;
      }

      h2 {
        font-size: 3rem;
        text-transform: uppercase;
        margin: 0;
      }

      p {
        font-size: 2rem;
      }
    }

    .main-bottom {

      p {
        width: 25vw;
        font-size: 1.25rem;
      }
    }
  }

  #main-contact {
    gap: 10vw;

    .contact-form {

      h1 {
        font-size: 5rem;
      }
    }
  }

  

  #main-impressum {
    font-size: 1.5rem;
    @include main-div();
    justify-content: center;
    align-items: flex-start;
    padding-left: 10vw;
    box-sizing: border-box;

    h1 {
      font-size: 5rem;
      margin: 0;
    }
  }
  
  #main-shop {
    @include main-div();
    padding-top: 15vh;
    padding-left: 7.5vw;
    padding-right: 7.5vw;

    h1 {
      font-size: 3rem;
      margin: 0;
    }

    .sim-items {
      @include flex-column();
      justify-content: space-between;
      width: 85vw;

      h2, h3 {
        text-transform: uppercase;
      }

      p {
        font-size: 1.2rem;
      }

      .simulatoren {
        flex-direction: row;
        justify-content: space-between;
        
        .simulator {
          @include flex-column();
          width: 40vw;
  
          img {
            width: auto;
            height: auto;
          }
  
          button {
            width: 35%;
            padding: .5rem;
          }
        }
      }

    }
  }

  #main-sim-item {
    .accordion-button{
      padding: .25rem;
    }

    @include main-div();

    .all-item {
      @include flex-row();
      justify-content: center;
      gap: 1.5rem;

      .sim-item {
        @include flex-column();
        width: 45vw;

        .slideshow {
          @include flex-row();
          position: relative;
          width: 45vw;

          .slides {
            width: 45vw;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            list-style: none;
            overflow: hidden;

            .slide {
              position: relative;
              max-width: 100%;
            }
          }
        }

        .thumbnails {
          @include flex-row();
          justify-content: space-around;
          align-items: center;

          .thumbnail {
            cursor: pointer;
            width: 25%;
          }
        }
      }

      form {
        margin-top: 1rem;
        margin-left: none;
        width: 40vw;

        p {
          margin: .25rem;
        }
    
        input, textarea {
          font-size: 1.25rem;
          margin: .5rem;
          margin-left: 0;
        }

        button {
          width: 30%;
          font-size: 1.25rem;
          padding: .75rem;
        }
      }
    }
  }
}

@import "accordion";