$color-black: #101010;
$color-red: #FF2D2D;
$color-darkgrey: #2D2D2D;
$color-font: #ffffff;

$main-font: 'Roboto', sans-serif;
$font-heavy: 700;


@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin main-button {
  text-transform: uppercase;
  color: $color-font;
  border: none;
  background-color: $color-red;
}

@mixin main-div {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  padding: 10vh 1rem 1rem 1rem;
  @include flex-column();
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $main-font;
  color: $color-font;
  background-color: $color-black;
}

h1 {
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: $color-font;
}

button {
  cursor: pointer;
}

/* Media Query XS Portrait*/
/* index page */
.index-menu {
  height: 100vh;
  width: 100vw;

  @include flex-column;

  .menu-page {   
    height: calc(100vw/3);
    width: 100vw;
    background: $color-black;
    border: 2px bold black;
  }

  a {
    @include flex-row;
    justify-content: center;
    align-items: flex-end; 
    height: 100%;
    width: 100%;
    text-transform: uppercase;
    color: $color-font;
    font-size: 1rem;
    font-weight: $font-heavy;
    text-shadow: 0px 4px 7px $color-black;
  }

  #menu-simulatoren {
    background-image: url(../images/img_01.jpeg);
    background-size: cover;
  }

  #menu-simracing {
    background-image: url(../images/img_02.jpeg);
    background-size: cover;
  }

  #menu-events {
    background-image: url(../images/img_03.jpeg);
    background-size: cover;
  }

  #menu-rcc {
    background-image: url(../images/img_04.jpeg);
    background-size: cover;
  }
}

/* topspeedcenter */
/* nav */
#mobile-nav {
  width: 100vw;
  box-sizing: border-box;
  position: fixed;
  @include flex-row();
  justify-content: space-between;
  align-items: center;
  padding: .75rem;
  z-index: 900;

  .toggle > a > i {
    font-size: 1.5rem;
    color: $color-font;
  }

  img {
    height: 5vh;
  }

}

#desktop-nav {
  width: 100vw;
  box-sizing: border-box;
  position: fixed;
  @include flex-row();
  display: none;
  justify-content: flex-end;
  align-items: center;
  gap: 5rem;
  letter-spacing: .5rem;
  padding: 1.5rem;
  z-index: 900;
    
  a {
    color: white;
    font-size: 1.75rem;
    text-transform: uppercase;
  }

  a:hover {
    color: $color-red;
    transition: 0.3s;
  }

  /* .active {
    border-bottom: $color-red solid 2px;
  } */

  img {
    width: calc(100vw/7);
  }
}

.active {
  margin-left: 0;
}

#side-menu {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  padding: .5rem;
  margin-left: -75vw;
  height: 100vh;
  width: 70vw;
  overflow: hidden;
  background-color: $color-black;
  z-index: 1000;
  @include flex-column();

  .side-top {
    width: 95%;
    @include flex-row();
    justify-content: space-between;
  }

  .side-top > i, .side-social > i, a {
    font-size: 1.75rem;
    color: $color-font;
  }

  .side-social, .side-lang {
    @include flex-row();
    gap: 0.75rem;
  }
  
  .side-menu-links {
    margin-top: 3rem;
    @include flex-column();
    gap: .75rem;

    a {
      text-transform: uppercase;
    }

  }

  .side-lang {
    position: absolute;
    bottom: .5rem;

    a {
      font-size: 1rem;
    }
  }

}

/* home */
#main-home {
  position: relative;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  @include flex-column();
  justify-content: space-between;

  .main-bg {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-image: url(../images/home_bg.jpeg);
    background-size: cover;
    opacity: .4;
    z-index: -5;
  }

  .home-sim {
    background-image: url(../images/sim_bg.jpg);
  }
  
  .header-text {
    width: 100vw;
    padding: 5.5rem 1rem 0 1rem;
    box-sizing: border-box;

    h1 {
      font-size: 3rem;
      margin: 0;
      text-transform: none;
    }

    p {
      font-size: 1.1rem;
      margin: 1rem 0 0 0;
    }
  }

  .main-bottom {
    width: 100vw;
    padding: 0 1rem;
    box-sizing: border-box;
    @include flex-column();
    align-items: center;
    gap: 1.5rem;

    button {
      @include main-button();
      font-size: 1rem;
      padding: 1rem;
    }
  }
}

/* kontakt */
#main-contact {
  @include main-div();

  h1 {
    font-size: 3rem;
    margin: 0;
  }

  form {
    @include flex-column();
    width: 100%;
    gap: 1rem;

    input, textarea {
      color: $color-font;
      background-color: $color-darkgrey;
      padding: .5rem;
      border: 1px white solid;
    }

    textarea { 
      resize:vertical;
    }

    input:focus, textarea:focus {
      color: $color-font;
  }

    button {
      @include main-button();
      width: 30vw;
      font-size: .75rem;
      padding: .5rem;
    }

    .contact-info {
      @include flex-column();

      .contact-icons {
        @include flex-row();
        align-content: flex-start;
        gap: .5rem;
      }

      iframe {
        display: none;
      }
    }
  }
}

/* angebot */
#main-angebot {
  @include main-div();

  .angebot {
    margin: 1rem 0 0 0;
    @include flex-column();

    img {
      height: 20vh;
      width: 100%;
      object-fit: cover;
    }

    p {
      margin: .5rem;
    }
  }

  h1 {
    font-size: 3rem;
    margin: 0;
  }
}

/* buchen */
#main-buchen {
  @include main-div();

  h1 {
    font-size: 3rem;
    margin: 0;
  }
}

/* shop */
#main-shop {
  @include main-div();
  padding-left: 7.5vw;
  padding-right: 7.5vw;

  h1 {
    font-size: 3rem;
    margin: 0;
  }

  .sim-items {
    
    .simulator {
      width: 85vw;

      img {
        height: 20%;
      }
    }
  }
}

/* impressum */
#main-impressum {
  @include main-div();

  h1 {
    font-size: 3rem;
    margin: 0;
  }
}

/* Media Query L Landscape*/
@media only screen and (min-width: 1920px) and (orientation: landscape) {
  
  .index-menu {
    height: 100vh;
    width: 100vw;
    @include flex-row;

    a {
      font-size: 3rem;
    }

    .menu-page {   
      height: 100vh;
      width: calc(100vw/3);
    }
  }

  #mobile-nav {
    display: none;
  }

  #desktop-nav {
    display: flex;
  }

  #main-home {
    overflow: hidden;

    .header-text {
      position: relative;
      top: 35vh;
      left: 5vw;

      h1 {
        font-size: 6rem;
        line-height: 5rem;
      }

      h2 {
        font-size: 3rem;
        text-transform: uppercase;
        margin-top: 0;
      }

      p {
        font-size: 2rem;
      }
    }

    .main-bottom {
      box-sizing: border-box;
      position: absolute;
      bottom: 5vh;
      left: 5vw;
      @include flex-row();
      flex-direction: row-reverse;
      justify-content: flex-end;

      p {
        width: 25vw;
        font-size: 1.25rem;
      }
    }
  }

  #main-contact {
    font-size: 1.5rem;
    @include main-div();
    flex-direction: row;
    gap: 10vw;
    justify-content: center;
    align-items: center;

    .contact-info {
      a {
        text-decoration: underline;
      }
    }

    .contact-form {
      @include flex-column();
      justify-content: center;
      align-items: flex-start;

      h1 {
        font-size: 5rem;
        margin: 0;
      }
    
      form {
        width: 40vw;
        gap: 1.5rem;
    
        input, textarea {
          font-size: 1.25rem;
        }
    
        button {
          width: 30%;
          font-size: 1.25rem;
          padding: .75rem;
        }
      }
    }
  
    .contact-icons {
      @include flex-row();
      gap: 1vh;
      margin: 1rem 0;

      a {
        color: $color-font;
      }

      iframe {
        display: block;
        margin: 1rem 0;
      }
    }
  }

  #main-angebot {
    @include main-div();
    padding-top: 15vh;
    align-items: center;

    span {
      @include flex-column();
      align-items: flex-start;
      gap: 3vh;
    }

    .angebot-items {
      @include flex-row();
      justify-content: center;
      gap: 5vw;

      .angebot {
        margin: 1rem 0 0 0;
        @include flex-column();
        width: 25vw;
    
        img {
          height: 20vh;
          object-fit: cover;
        }
    
        p {
          margin: .5rem;
        }
      }
    }
 
    h1 {
    font-size: 5rem;
    margin: 0;
    }
  }

  #main-impressum {
    font-size: 1.5rem;
    @include main-div();
    justify-content: center;
    align-items: flex-start;
    padding-left: 10vw;
    box-sizing: border-box;

    h1 {
      font-size: 5rem;
      margin: 0;
    }
  }
  
  #main-shop {
    @include main-div();
    padding-top: 15vh;
    padding-left: 7.5vw;
    padding-right: 7.5vw;

    h1 {
      font-size: 3rem;
      margin: 0;
    }

    .sim-items {
      @include flex-row();
      justify-content: space-between;
      width: 85vw;

      h2, h3 {
        text-transform: uppercase;
      }

      .simulator {
        @include flex-column();
        width: 40%;

        img {
          width: auto;
          height: auto;
        }

        button {
          @include main-button();
          width: 35%;
          padding: .5rem;
        }
      }
    }
  }

  #main-sim-item {
    @include main-div();
    padding-top: 15vh;
    padding-left: 10vw;
    padding-right: 10vw;

    .sim-item {
      @include flex-column();
      width: 40vw;

      .slideshow {
        @include flex-row();
        position: relative;
        width: 40vw;

        .slides {
          width: 40vw;
          display: flex;
          justify-content: center;
          align-items: center;
          list-style: none;
          overflow: hidden;

          .slide {
            width: 100%;
          }
        }
      }

      .thumbnails {
        @include flex-row();
        justify-content: space-around;
        align-items: center;

        .thumbnail {
          cursor: pointer;
          width: 25%;
        }
      }
    }

    form {
      width: 40vw;
      gap: 1.5rem;
  
      input, textarea {
        font-size: 1.25rem;
      }
  
      button {
        width: 30%;
        font-size: 1.25rem;
        padding: .75rem;
      }
    }
  }
}